<h1>BURGER EATER!</h1>

<div>
<h2>Burgers to eat!</h2>
<ul id= "burger-list">
    {{#each burgers}}
    {{#unless this.devoured}}
        <div class="burgers-toEat">
            <form data-id= "{{this.id}}" class="update">
                {{this.burger_name}}
                <button type="submit" id="burger-btn">CONSUME ME</button>
            </form>
        </div>
    {{/unless}}
    {{/each}}
</ul>
</div>

<div class = "devoured-section">
<h2>Devoured Burgers!</h2>
<ul id = "devoured-list">
    {{#each burgers}}
    {{#if this.devoured}}
    <div class="devoured-burgers">
        {{this.burger_name}}
    </div>
    {{/if}}
    {{/each}}
</ul>
</div>

<div>
<h2>Add a burger to eat!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger-input" name="name">
  </div>

  <button type="submit">Add this bruger!</button>
</form>
</div>
