<h1>BURGER EATER!</h1>

<div>
<h2>Burgers to eat!</h2>
<ul id= "burger-list">
    {{#each Burgers}}
    {{#unless devoured}}
    {{> Burgers/burger devoured=false}}
    {{/unless}}
    {{/each}}
</ul>
</div>

<div>
<h2>Devoured Burgers!</h2>
<ul id = "devoured-list">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger devoured=true}}
    {{/if}}
    {{/each}}
</ul>
</div>

<div>
<h2>Add a burger to eat!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger-input" name="name">
  </div>

  <button type="submit">Add this bruger!</button>
</form>
</div>
