body{
    
    background-color: #5ce6fe5b;
    /* background-color: #e778fe4a; */

    
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

@media all and (max-width: 1000px) {
    .burger-cards {
        margin: 0px !important;
    }
}

h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 100px;
    -webkit-text-fill-color: #eb2f06;
    font-weight: bolder;
    text-shadow: 3px 3px #fff200;
    margin-bottom: -17px;
}

h2 {
    font-family: 'Kirang Haerang', cursive;
    font-size: 40px;
}

img {
    width: 300px;
    height: 275px;
    margin-top: 0;
}

.burger-cards{
    margin-left: 170px;
}

.addBtn,
#burger-input,
.burgers-toEat,
.devoured-burgers {
    font-family: 'Kirang Haerang', cursive;
    font-size: 22px;
}

.addBtn,
img,
#burger-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#burger-input {
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 50px;
    outline: none !important;
}


.addBtn {
    margin-bottom: 50px;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    outline: none !important;
    background-color: #18dcff;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.devour-btn {
    border-radius: 15px;
    float: right;
    outline: none !important;
    background-color:  #fff200;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.addBtn:hover{
    background-color:  #14de5e;
    transform: translate(1px, 1px);
}
.devour-btn:hover {
    background-color:   #e96142;
    transform: translate(1px, 1px);
}