body{  
    background-color: #e168fc5a;
}

@media all and (max-width: 1000px) {
    .burger-cards {
        margin: 0px !important;
    }
}

h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 100px;
    -webkit-text-fill-color: #eb2f06;
    font-weight: bolder;
    text-shadow: 3px 3px #fff200;
    margin-bottom: -17px;
    margin-top: 15px;
}

h2 {
    font-family: 'Kirang Haerang', cursive;
    font-size: 40px;
}

img {
    width: 300px;
    height: 275px;
    margin-top: 0;
}

.burger-cards{
    margin-left: 170px;
}

.addBtn,
#burger-input,
.burgers-toEat,
.devoured-burgers {
    font-family: 'Kirang Haerang', cursive;
    font-size: 22px;
}

.addBtn,
img,
#burger-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#burger-input {
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 50px;
    outline: none !important;
}


.addBtn {
    margin-bottom: 50px;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    outline: none !important;
    background-color: #18dcff ;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.devour-btn {
    border-radius: 15px;
    float: right;
    outline: none !important;
    background-color: #48f487;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.addBtn:hover{
    background-color: #f07053;
    transform: translate(1px, 1px);
}
.devour-btn:hover {
    background-color: #fff200;
    transform: translate(1px, 1px);
}